.playlist{

    &__container{
        display: flex;
        align-items: center;
        padding: 20px 10px;

        &--size{
            min-height: 380px;
        }
    }

    &__image{

        &--size{
            height: 250px;
            width: 250px;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }

    &__name{
        font-size: 38px;
    }

    &__description{
        font-size: 14px;
        margin-top: 20px;
    }

    &__button-group{
        display: flex;
        margin-top: 30px;
        align-items: center;
        position: relative;
    }

    &__button-shuffle{
        display: flex;
        align-items: center;
        padding: 7px 20px;
        border: none;
        font-weight: 600;
        color: black;
        font-size: 14px;
        cursor: pointer;
        background-color: white;
    }

    &__button-addlibrary{
        display: flex;
        align-items: center;
        padding: 6px 20px;
        font-weight: 500;
        color: white;
        font-size: 14px;
        cursor: pointer;
        margin-left: 20px;
        border-radius: 2px;
        border: 1px solid rgba($color: white, $alpha: 0.6);
    }

    &__icon{
        margin-right: 10px;
    }

    &__option-icon{
        margin: 0 10px;
        cursor: pointer;
    }

    &__options{
        list-style: none;
        position: absolute;
        right: -150px;
        top: 45px;
        border-radius: 3px;
        padding: 20px 0;
        border: 1px solid rgba($color: white, $alpha: 0.1);

        &--size{
            width: 230px;
            min-height: 170px;
        }

        &--theme{
            background-color: #212121;
        }
    }

    &__option{
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 15px;

        &:hover{
            background-color: #2C2C2C;
        }
    }
}

.option-icon{
    margin-right: 10px;
    color: #A2A2A2;
}