.navbar{

    &__center{
        margin: auto;
        font-family: inherit;
    }

    &__menulist{
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__menuitem{
        cursor: pointer;
        margin-right: 50px;
        font-weight: 500;
        color: grey;
        font-size: 20px;
        line-height: 1.2;

        &:first-child{
            color: white;
        }

        &:hover{
            color: white;
        }

        a{
            color: inherit;
            text-decoration: none;
            display: flex;
        }
    }
}