@import './../../../assets/scss/common.scss';

.navbar{
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 30px;
    position: sticky;
    top: 0px;
    z-index: 100;

    &--size{
        height: $navbar-height;
        width: 100%;
    }

    &--theme{
        background-color: black;
    }

    &__divider{
        left: 0px;
        right: 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        position: fixed;
        top: $navbar-height;
        z-index: 1;
        opacity: 0;
    }
}