.profile{
    position: fixed;
    top: 50px;
    right: 30px;
    border-radius: 2;
    border: 1px solid rgba($color: gray, $alpha: 0.2);
    z-index: 100;

    &--size{
        height: auto;
        min-width: 300px;
    }

    &--theme{
        background-color: #212121;
    }

    &__options{
        list-style: none;
        padding: 20px 0;
    }

    &__option{
        display: flex;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        padding: 0 20px;
        font-weight: 550;
        
        &--size{
            height: 40px;
        }

        &-icon{
            margin-right: 10px;
        }

        &:hover{
            background-color: #383838;
        }
    }
    
    &__line{
        border: none;
        border-top: 1px solid rgba($color: gray, $alpha: 0.3);
    }
}